<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

    <body>
        <div class="paper" <% if (page.layout==='thoughts' || page.layout==='yinian' || page.layout==='yinian2' ) { %>
            style="min-height:
            1200px;"<% } %>>
                <div class="paper-main" <% if (page.layout==='thoughts' || page.layout==='yinian' ||
                    page.layout==='yinian2' ) { %>
                    style="min-height: 1200px;"<% } %>>
                        <% if ((is_post() || is_page()) && page.layout !=='about' && page.layout !=='thoughts' &&
                            page.layout !=='yinian' && page.layout !=='yinian2' ) { %>
                            <%- partial('_partial/post-header') %>
                                <% } else { %>
                                    <%- partial('_partial/header') %>
                                        <% } %>
                                            <%- body %>
                                                <%- partial('_partial/footer') %>
                </div>
        </div>
        <%- partial('_partial/after-footer') %>
    </body>

</html>